* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

ul,
li {
  color: #f5f5ff;
}

body {
  /* width: 375px; */
  overflow-x: hidden;
  background: #191765;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding: 24px;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
}

.bars {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 10px;
  background-color: #f5f5ff;
  transition: all 0.3s;
}

.headline {
  background-image: url("images/bg-image1.png");
  background-repeat: no-repeat;
}

.intro h1 {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 44px;
  padding: 12px;
}

.intro h2 {
  color: white;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-top: 34px;
}

.introduction p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  margin: 74px 24px 0 24px;
}

.technologies-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 24px 40px;
  left: 12px;
}

.list-title {
  font-size: 12px;
  font-weight: 600;
  color: #9490ff;
  line-height: 24px;
  margin-bottom: 5px;
}

.lists {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.skills {
  align-self: flex-start;
}

hr {
  border: 1px solid #646369;
  margin: 34px 24px;
}

.social-apps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 0 87.5px;
}

.social-apps i {
  color: white;
  font-size: 24px;
  justify-content: center;
}

.work {
  display: grid;
  grid-template-columns: 15px 15px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.work i {
  color: #a2a3ae;
  font-size: 24px;
  justify-content: center;
}

.work h3 {
  color: #a2a3ae;
  font-size: 24px;
  justify-content: center;
}

.recent-work {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 40px;
  align-items: center;
  color: #9490ff;
  margin: 0 24px;
}

.img-placeholder {
  width: 100vw;
}

.projects {
  margin: 24px 24px;
}

.background-image {
  background-image: url("images/bg-image2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.project-description h3 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 24px 0;
}

.project-description p {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  margin: 24px 0;
}

.list-tags {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  padding: 1px;
  height: 40px;
  margin: 24px 0;
}

.border-right {
  border-right: 1px solid #646369;
  padding: 12px;
}

.border-left {
  padding: 12px;
}

button {
  background-color: #8a8aff;
  padding: 20px;
  color: #fff;
  border: none;
  font-family: Roboto, sans-serif;
  transition: 0.6s;
}

button:hover {
  background-color: #5e42d7;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.form-container {
  margin: 120px 24px 24px 24px;
}

.form-container h3 {
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  margin-top: 20px;
}

.form-container p {
  text-align: center;
  color: #f5f5ff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
  padding: 12px 16px;
  margin: 18px 0;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 15px 16px;
  margin: 18px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  margin: 18px 0;
  box-sizing: border-box;
  height: 148px;
  padding: 12px;
}

.form-button {
  width: 89px;
  height: 48px;
  background: #8a8aff;
  color: white;
  font-weight: 600;
  align-self: center;
  margin: 40px 0;
}

.footer-divider {
  width: 375vw;
  color: #3a3837;
  margin: 0;
}

.email {
  text-align: center;
}

.email li a {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

#navbar-link {
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

#work,
#work1 {
  display: none;
}

#social-links {
  display: none;
}

/* Desktop version */
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  #navbar-link {
    display: flex;
    justify-content: space-around;
  }

  ul,
  li a {
    text-decoration: none;
    color: #f9f9f9;
    margin-right: 20px;
    font-weight: 600;
  }

  .hamburger {
    display: none;
  }

  #headline-background {
    background-image: url("images/section1-images.png");
    background-size: contain;
  }

  .intro h1 {
    font-size: 90px;
  }

  .intro h2 {
    font-size: 40px;
  }

  .introduction p {
    width: 447px;
    height: 155px;
    margin: 88px auto;
  }

  hr {
    width: 448px;
    margin: auto;
  }

  .technologies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 24px 0;
    width: 446px;
    margin-left: auto;
    margin-right: auto;
  }

  .work {
    display: none;
  }

  .social-handles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 108px;
  }

  #social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 40px;
    margin: 0 87.5px;
  }

  #social-links i {
    color: white;
    font-size: 24px;
    justify-content: center;
    align-items: center;
  }

  .form-intro h3 {
    font-size: 40px;
    text-align: center;
    line-height: 24px;
  }

  #work,
  #work1 {
    display: grid;
    grid-template-columns: 15px 15px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  #work,
  #work1 i {
    color: #a2a3ae;
    font-size: 24px;
    justify-content: center;
  }

  #work,
  #work1 h3 {
    color: #a2a3ae;
    font-size: 24px;
    justify-content: center;
  }

  .recent-work {
    margin-left: 50px;
    margin-bottom: 32px;
  }

  .work-divider {
    width: 80%;
    margin: 0 10%;
  }

  .background-image {
    background-image: url("images/section2-image.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .projects-container {
    margin: 0 40px;
  }

  .projects {
    display: flex;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .img-placeholder img {
    width: 52vw;
    height: 448px;
  }

  .project-description {
    margin-left: 22px;
  }

  .form-intro p {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .form-container {
    padding: 0 calc(24px + 0.4 * (100vw - 375px));
  }

  #footer-email {
    display: flex;
    justify-content: center;
  }

  .social-apps {
    margin: 0;
  }

  .email {
    margin: 10px;
  }
}
